<!DOCTYPE html>
<html>

    {% include head.html %}
    {% assign accordion_id = 0 %}
    {% assign prev_attraction = false %}

    <body>
        <div id="items container-fluid">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% for item in page.items %}
                {% if item.type == 'transit' %}
                {% if prev_attraction == true %}
                    </div>
                {% endif %}
                <div class="transit-item media">
                    <div class="transit-icon media-left">
                            {% if item.transit-type == 'bus' %}
                            <img src="{{ site.baseurl }}/assets/bus.png" class="media-object" style="width: 64px; height: 64px;"></img>
                            {% elsif item.transit-type == 'ferry' %}
                            <img src="{{ site.baseurl }}/assets/ferry.png" class="media-object" style="width: 64px; height: 64px;"></img>
                            {% endif %}
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Route {{ item.route-number }}
                        </h4>
                        <h5 class="media-heading">
                            {{ item.transit-agency }}    
                        </h5>
                        {{ item.start-location }} to {{item.end-location}}
                    </div>
                </div>
                {% elsif item.type == 'attraction' %}
                {% if prev_attraction == false %}
                    {% assign prev_attraction = true %}
                    {% assign accordion_id = accordion_id + 1 %}
                    <div id="{{ accordion_id }}" role="tablist">
                {% endif %}
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ site.baseurl }}/assets/{{ item.attraction-type }}.png" class="media-object" style="width: 64px; height: 64px;"></img>
                        </div>
                        <div class="media-body">
                            <div class="media-heading" role="tab">
                                <h4>
                            <a data-toggle="collapse" data-parent="{{ accordion_id }}" href="#{{ item.id }}">
                                    {{ item.name }}
                                </a>
                            </h4>
                        </div>
                        </div>
                    </div>
                    <div id="{{ item.id }}" class="collapse">
                        <div class="panel-body">
                            {{ item.description }}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            {% if prev_attraction == true %}
                </div>
            {% endif %}
            <div class="col-md-3"></div>
        </div>
    </body>
</html>
